@import 'bootstrap';
@import 'icons';

.page-header {
    margin-bottom: 0.5rem;
	border: none;
    h1 {
		margin: 0; 
        font-family: 'Slackey', cursive;
		font-size: 40px;
        color: #0275d8;
    }
	.btn-group {
		float: right;
	}
}

.logo {
  float: left;
  width: 340px;
  height: 50px;
  margin-right: 5rem;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #0275d8;
  .icon {
	margin-right: 1rem; 
	font-size: 40px;
  }
  &:hover,
  &:active,
  &:focus {
	text-decoration: none; 
	.icon {
		color: #0275d8;	
	}
  }
}

.main {
	.well {
		width: 600px;
		margin: 100px auto;
		text-align: center;
	}
	.btn {
		margin: 0 10px;	
	}
}

.dark {
  .logo {
    color: white;
  }
  .page-header {
    h1 {
      color: white;
    }
  }
}

.links {
	.row {
		padding: 0.5rem 0;
		&:nth-child(even) {
			background-color: #f9f9f9;

		}
	}
}

.date {
	white-space: nowrap;
}

#dial-container {
	position: fixed;
	top: 40px;
	right: 40px;
}

@media (min-width: 768px) {
	.date {
		text-align: right;
	}
}

@media (min-width: 992px) {

}

body.dark {
	background: #060606;
	color: #888;
	a,
	a:hover {
		color: linen;
	}
	.tweets .row:nth-child(even) {
		background: #333333;
	}
	.text-muted {
		color: #999;
	}
}
