@import 'bootstrap';
@import 'icons';

.page-header {
	margin-bottom: 0.5rem;
	border: none;
	h1 {
		margin: 0;
		font-family: 'Slackey', cursive;
		font-size: 30px;
		color: #0275d8;
	}
	.btn-group {
		float: right;
	}
}

.logo {
	float: left;
	width: 340px;
	height: 50px;
	margin-right: 5rem;
	margin-bottom: 2rem;
	vertical-align: middle;
	font-size: 2.5rem;
	color: #0275d8;
	.icon {
		display: block;
		float: left;
		margin-right: 1rem;
		font-size: 40px;
	}
	h1 {
		float: left;
	}
	small {
		display: block;
		font-family: sans-serif;
		font-size: 24px;
		color: #0275d8;
	}
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		.icon {
			color: #0275d8;
		}
	}
}

.main {
	.jumbotron {
		overflow: hidden;
		padding-left: 20px;
		padding-right: 20px;
		h1 {
			font-family: 'Slackey', cursive;
			font-size: 40px;
		}
		.icon {
			font-size: 100px;
			margin-right: 20px;
		}
	}
	.btn {
		margin: 0 10px;
	}
}

.links {
	margin-bottom: 20px;
	.row {
		padding: 0.5rem 0;
		&:nth-child(even) {
			background-color: #f9f9f9;

		}
	}
}

.date {
	white-space: nowrap;
}

#dial-container {
	position: fixed;
	top: 40px;
	right: 40px;
}

.dark {
	background: #060606;
	color: #888;
	a,
	a:hover {
		color: linen;
	}
	.navbar-default {
		background: #333;
		border: none;
	}
	.navbar-default .navbar-nav > li > a {
		color: #aaa;
	}
	.navbar-default .navbar-nav > .active > a {
		color: #333;
	}
	.links .row:nth-child(even) {
		background: #333333;
	}
	.text-muted {
		color: #999;
	}
	.logo,
	.logo .icon {
		color: white;
	}
	.logo small {
		color: #1c8ff2;
	}
	.page-header {
		h1 {
			color: white;
		}
	}
	.btn-default,
	.btn-secondary {
		background: #666;
		color: linen;
		border-color: #999;
		&.active {
			background: #333;
			color: linen;
		}
		&:hover {
			color: linen;
		}
	}
}

@media (min-width: 480px) {
	.page-header {
		h1 {
			font-size: 40px;
		}
	}
}

@media (min-width: 768px) {
	.main {
		.jumbotron {
			h1 {
				font-size: 60px;
			}
			.icon {
				font-size: 110px;
			}
		}
		.intro {
			width: 480px;
			margin: 0 auto;
		}
	}
	.date {
		text-align: right;
	}
}
