@import 'bootstrap/bootstrap';
@import 'icons';

.page-header {
    margin-bottom: 0.5rem;
    h1 {
        font-family: 'Slackey', cursive;
        color: #0275d8;
    }
}

.logo {
  float: left;
  height: 50px;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #0275d8;
}

.dark {
  .logo {
    color: white;
  }
  .page-header {
    h1 {
      color: white;
    }
  }
}

.tweets {
	.row {
		padding: 0.5rem 0;
		&:nth-child(even) {
			background-color: #f9f9f9;

		}
	}
}

.date {
	white-space: nowrap;
}

#dial-container {
	position: fixed;
	top: 40px;
	right: 40px;
}

@media (min-width: 768px) {
	.date {
		text-align: right;
	}
}

@media (min-width: 992px) {

}

body.dark {
	background: #060606;
	color: #888;
	a,
	a:hover {
		color: linen;
	}
	.tweets .row:nth-child(even) {
		background: #333333;
	}
	.text-muted {
		color: #999;
	}
}
