<div class="main">
	<div class="jumbotron">
		<div class="intro">
			<i class="icon icon-home pull-left"></i>
			<h1>Attention!</h1>
			<p>This is News Robot, a news discovery service that takes the slog out of the newsroom. Well, some of it anyway.</p>
			<p>Select your category in the navbar.</p>
		</div>
	</div>
</div>

<div class="btn-group btn-group-sm pull-right m-t" role="group">
	<button type="button" ng-class="$root.dark ? 'active btn btn-secondary' : 'btn btn-secondary'" ng-click="toggleDark()" ng-cloak>Dark</button>
</div>
